<%- include('partials/header.ejs') %>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <%- include('partials/sidebar.ejs') %>

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h1 class="h3 mb-0 text-gray-800">Data</h1>
                    
                </div>

                
                
            </div>
            <!-- /.container-fluid -->

        <%- include('partials/footer2.ejs') %>


<script src="/js/endpoint/daily.js"></script>
<%- include('partials/footer.ejs') %>