<%- include('partials/header.ejs') %>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <%- include('partials/sidebar.ejs') %>

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h1 class="h3 mb-0 text-gray-800">Import</h1>
                    
                </div>


                <div class="row">
                    <div class="col-lg-5">
                        <div class="p-5">
                            <form class="user" action="/main/nomie/upload" enctype="multipart/form-data" method="post">
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input type="file" class="form-control" name="file-upload" required>
                                    </div>
                                    <div class="col-sm-3">
                                        <input class="form-control btn-primary" type="submit" value="Upload">
                                    </div>
                                </div>
                                <%if (status == "success") { %>
                                    <div class="card bg-success text-white shadow">
                                        <div class="card-body">
                                            Uploaded Successfully!
                                        </div>
                                    </div>
                                <% } %>
                                <%if (status == "failed") { %>
                                    <div class="card bg-danger text-white shadow">
                                        <div class="card-body">
                                            There's something wrong with the file.
                                        </div>
                                    </div>
                                <% } %>
                            </form>
                        </div>
                    </div>
                </div>
                
                
            </div>
            <!-- /.container-fluid -->

        <%- include('partials/footer2.ejs') %>

<%- include('partials/footer.ejs') %>