<%- include('partials/header.ejs') %>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <%- include('partials/sidebar.ejs') %>

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="d-sm-flex align-items-center justify-content-between mb-4" id="div-date-input">
                    <h1 class="h3 mb-0 text-gray-800">Life Dashboard</h1>
                    
    
                </div>

                <div class="row">
                    <div class="col-xl-3 col-md-1 mb-4">
                        
                        <div class="form-group">
                            <select class="form-control" id="duration-option">
                                <option value="daily" selected="selected">Daily</option>
                                <option value="monthly">Monthly</option>
                                <option value="yearly">Yearly</option>
                            </select>
                        </div>
                        
                    </div>
                    <div class="col-xl-3 col-md-1 mb-4">
                        
                        <div class="form-group">
                            <input class="form-control" id="date-input" type="date" name="date" placeholder="" value="">
                    
                            <select class="form-control" id="date-input-my" name="date-input">
                            </select>
                        </div>
                        
                    </div>
                </div>

                <!-- Content Row -->
                <div class="row">

                    <!-- Earnings (Monthly) Card Example -->
                    <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card border-left-primary shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                            Sleep Score</div>
                                        <div class="h5 mb-0 font-weight-bold text-gray-800" id="sleep-score"></div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fas fa-bed fa-2x text-gray-300"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Earnings (Monthly) Card Example -->
                    <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card border-left-success shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                            Productivity Pulse</div>
                                        <div class="h5 mb-0 font-weight-bold text-gray-800" id="productivity-pulse"></div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fas fa-calendar-check fa-2x text-gray-300"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Earnings (Monthly) Card Example -->
                    <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card border-left-info shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                                            Steps
                                        </div>
                                        <div class="row no-gutters align-items-center">
                                            <div class="col-auto">
                                                <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800" id="steps"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fas fa-running fa-2x text-gray-300"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Pending Requests Card Example -->
                    <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card border-left-warning shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                            Mood Score</div>
                                        <div class="h5 mb-0 font-weight-bold text-gray-800" id="mood-score"></div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fas fa-smile-wink fa-2x text-gray-300"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="row">

                    <!-- Earnings (Monthly) Card Example -->
                    <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card border-left-primary shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                            Total Sleep Time</div>
                                        <div class="h5 mb-0 font-weight-bold text-gray-800" id="sleep-time"></div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fas fa-bed fa-2x text-gray-300"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Earnings (Monthly) Card Example -->
                    <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card border-left-warning shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                            Total Screen Time</div>
                                        <div class="h5 mb-0 font-weight-bold text-gray-800" id="screen-time"></div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fas fa-tablet-alt fa-2x text-gray-300"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card border-left-success shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                            Calories Burned</div>
                                        <div class="h5 mb-0 font-weight-bold text-gray-800" id="calories-burned"></div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fas fa-heartbeat fa-2x text-gray-300"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card border-left-info shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                                            Activity Score
                                        </div>
                                        <div class="row no-gutters align-items-center">
                                            <div class="col-auto">
                                                <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800" id="activity-score"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fas fa-running fa-2x text-gray-300"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="row">

                    <!-- Content Column -->
                    <div class="col-lg-6 mb-6">

                        <!-- Project Card Example -->
                        <div class="card shadow mb-6">
                            <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-primary">Sleep Contributors</h6>
                            </div>
                            <div class="card-body">
                                <h4 class="small font-weight-bold">Efficiency <span
                                        class="float-right" id="efficiency-span"></span></h4>
                                <div class="progress mb-4">
                                    <div class="progress-bar bg-danger" role="progressbar" id="efficiency-width" 
                                        aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <h4 class="small font-weight-bold">Disturbances <span
                                        class="float-right" id="disturbances-span"></span></h4>
                                <div class="progress mb-4">
                                    <div class="progress-bar bg-warning" role="progressbar" id="disturbances-width" 
                                        aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <h4 class="small font-weight-bold">REM Sleep <span
                                        class="float-right" id="rem-sleep-span"></span></h4>
                                <div class="progress mb-4">
                                    <div class="progress-bar" role="progressbar" id="rem-sleep-width" 
                                        aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <h4 class="small font-weight-bold">Deep Sleep <span
                                        class="float-right" id="deep-sleep-span"></span></h4>
                                <div class="progress mb-4">
                                    <div class="progress-bar bg-info" role="progressbar" id="deep-sleep-width" 
                                        aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <h4 class="small font-weight-bold">Sleep Latency <span
                                        class="float-right" id="sleep-latency-span"></span></h4>
                                <div class="progress">
                                    <div class="progress-bar bg-success" role="progressbar" id="sleep-latency-width" 
                                        aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <br/>
                                <h4 class="small font-weight-bold">AVG Heart Rate <span
                                    class="float-right" id="heart-rate-span"></span></h4>
                                <br/>
                                <h4 class="small font-weight-bold">AVG Breathing <span
                                        class="float-right" id="breathing-span"></span></h4>
                            </div>
                        </div>
                    </div>

                    <!-- Content Column -->
                    <div class="col-lg-6 mb-6">
                        <!-- Project Card Example -->

                        <div class="card shadow mb-6">
                            <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-primary">Activity Contributors</h6>
                            </div>
                            <div class="card-body">
                                <h4 class="small font-weight-bold">Stay Active Score <span
                                        class="float-right" id="stay-active-span"></span></h4>
                                <div class="progress mb-4">
                                    <div class="progress-bar bg-danger" role="progressbar" id="stay-active-width" 
                                        aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <h4 class="small font-weight-bold">Move Every Hour <span
                                        class="float-right" id="move-every-hour-span"></span></h4>
                                <div class="progress mb-4">
                                    <div class="progress-bar bg-warning" role="progressbar" id="move-every-hour-width" 
                                        aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <h4 class="small font-weight-bold">Meet Daily Goals <span
                                        class="float-right" id="meet-daily-goals-span"></span></h4>
                                <div class="progress mb-4">
                                    <div class="progress-bar" role="progressbar" id="meet-daily-goals-width" 
                                        aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <h4 class="small font-weight-bold">Training Frequency <span
                                        class="float-right" id="training-frequency-span"></span></h4>
                                <div class="progress mb-4">
                                    <div class="progress-bar bg-info" role="progressbar" id="training-frequency-width" 
                                        aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <h4 class="small font-weight-bold">Training Volume <span
                                        class="float-right" id="training-volume-span"></span></h4>
                                <div class="progress">
                                    <div class="progress-bar bg-success" role="progressbar" id="training-volume-width" 
                                        aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                
                            </div>
                        </div>
                        
                    </div>


                </div>

                <br/>
                <div class="row">
                    <!-- Project Card Example -->
                    <div class="col-lg-6 mb-6">
                        <div class="card shadow mb-6">
                            <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-primary">RescueTime Daily Summary</h6>
                            </div>
                            <div class="card-body">
    
                                <h5 class="font-weight-bold">Total Productive Time: <span
                                    class="float-right" id="productive-time-span"></span></h5>

                                <h5 class="font-weight-bold">Total Productivity Percentage: <span
                                    class="float-right" id="productive-percent-span"></span></h5>
    
                                <h5 class="font-weight-bold">Total Distracting Time: <span
                                        class="float-right" id="distracting-time-span"></span></h5>
                                
                                <h5 class="font-weight-bold">Total Distracting Percentage: <span
                                        class="float-right" id="distracting-percent-span"></span></h5>
    
                                <hr/>
                                
    
                                <h5 class="font-weight-bold">Category</h5>
    
                                <div id="top-activities">
    
                                </div>
                                
                            </div>
                        </div>
                        
                    </div>
                    
                </div>

                
            </div>
            <!-- /.container-fluid -->

        <%- include('partials/footer2.ejs') %>


<script src="/js/endpoint/daily.js"></script>
<%- include('partials/footer.ejs') %>